@tailwind base;
@tailwind components;
@tailwind utilities;


/* DATE PIKER */

/* header */
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    background-color: transparent;
    color: white;
    border: none!important;
    padding-top: 15px;
}
.react-datepicker__month-container {
    background-color: #1F2937;
    border: 1px solid rgb(55 65 81);
    border-radius: 7px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.20);
}
/* mois et années */
.react-datepicker__month {
    background-color: #8fbd33;
    padding: 10px;
    border-radius: 5px;
}

.react-datepicker {
    font-family: "ui-sans-serif";
    font-size: 0.8rem;
    background-color: transparent!important;
    color: white;
    border: none!important;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    line-height: initial;
}

.custom-date-picker {
    padding-left: 15px;
    background-color: transparent;
    color: white;
    font-size: 1.05rem;
    font-weight: bold;
    width: 90px;
}
.custom-date-picker:hover {
    cursor: pointer;
}
.react-datepicker__month-wrapper {
    color: white;
}
.react-datepicker__month{
    background-color: transparent;
}

.react-datepicker__month-text{
    margin-top: 0!important;
    width: fit-content!important;
    padding: 15px!important;

}
.react-datepicker__month-text:hover {
    background-color: #74C0FC!important;
    color: black;
}

.react-datepicker__month-text--keyboard-selected {
    background-color: #74C0FC!important;
}

.react-datepicker__navigation--next {
    right: 2px;
    padding-top: 15px!important;

}

.react-datepicker__navigation--previous {
    right: 2px;
    padding-top: 15px!important;
}

.react-datepicker__navigation-icon {
    color: red!important;
}

/*
CALENDRIER*/

/*.rbc-day-bg {
    border: 1px solid #111827;
}
.rbc-day-bg + .rbc-day-bg {
    border-left: 1px solid #111827!important;
}
.rbc-month-row + .rbc-month-row {
    border-top: 1px solid #111827!important;
}
.rbc-today {
    background-color: #365683 !important;
}
.rbc-off-range-bg {
    background: #1F2937!important;
}
.rbc-header {
    background: #1F2937!important;
    border-bottom: 1px solid #111827;
}
.rbc-month-view {
    border: 1px solid #111827!important;
}
.rbc-header + .rbc-header {
    border-left: 1px solid #111827!important;
    border-bottom: 1px solid #111827!important;
}*/

.rbc-today {
    background-color: #365683 !important;
}
.rbc-off-range-bg {
    background: #1F2937!important;
}

.rbc-toolbar {
    color: white!important;
}
.rbc-btn-group button{
    color: white!important;
}
.rbc-active {

    background-color: #365683!important;
}
.rbc-btn-group button:hover{

    background-color: #365683!important;
}














.custom-footer {
    z-index: 0 !important;
}
