@tailwind base;
@tailwind components;
@tailwind utilities;


/* SCROLL*/
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #74C0FC; /* Couleur de la barre */
    border-radius: 4px; /* Coins arrondis */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #58a7e0; /* Couleur au survol */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* Fond invisible */
}

.hover\:overflow-y-auto:hover {
    overflow-y: auto; /* Activer le scroll au survol */
}

.hover\:overflow-y-hidden {
    overflow-y: hidden; /* Désactiver le scroll par défaut */
}

/* DATE PIKER */

/* header */
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    background-color: transparent;
    color: white;
    border: none!important;
    padding-top: 15px;
}
.react-datepicker__month-container {
    background-color: #1F2937;
    border: 1px solid rgb(55 65 81);
    border-radius: 7px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.20);
}
/* mois et années */
.react-datepicker__month {
    background-color: #8fbd33;
    padding: 10px;
    border-radius: 5px;
}

.react-datepicker {
    font-family: "ui-sans-serif";
    font-size: 0.8rem;
    background-color: transparent!important;
    color: white;
    border: none!important;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    line-height: initial;
}

.custom-date-picker {
    padding-left: 15px;
    background-color: transparent;
    color: white;
    font-size: 1.05rem;
    font-weight: bold;
    width: 90px;
    left: 10px;
}
.react-datepicker-popper {
    left: 8px!important;
}
.custom-date-picker:hover {
    cursor: pointer;
}
.react-datepicker__month-wrapper {
    color: white;
}
.react-datepicker__month{
    background-color: transparent;
}

.react-datepicker__month-text{
    margin-top: 0!important;
    width: fit-content!important;
    padding: 15px!important;

}
.react-datepicker__month-text:hover {
    background-color: #74C0FC!important;
    color: black;
}

.react-datepicker__month-text--keyboard-selected {
    background-color: #74C0FC!important;
}

.react-datepicker__navigation--next {
    right: 2px;
    padding-top: 15px!important;

}

.react-datepicker__navigation--previous {
    right: 2px;
    padding-top: 15px!important;
}

.react-datepicker__navigation-icon {
    color: red!important;
}

/*
CALENDRIER*/
/*1e version*/
/*.rbc-today {
    background-color: #365683 !important;
}
.rbc-off-range-bg {
    background: #1F2937!important;
}

.rbc-toolbar {
    color: white!important;
}
.rbc-btn-group button{
    color: white!important;
}
.rbc-active {

    background-color: #365683!important;
}
.rbc-btn-group button:hover{

    background-color: #365683!important;
}

!* Réduction de la taille et affichage côte à côte des events dans la vue Mois *!
.rbc-month-view .rbc-event {
    display: inline-block;       !* Affiche les événements sur la même ligne *!
    max-width: 45%;              !* Limite la largeur pour éviter qu'ils occupent toute la case *!
    padding: 2px 4px;            !* Réduit l'espace intérieur *!
    font-size: 10px;             !* Taille de police réduite *!
    margin-right: 2px;           !* Petit espacement entre les événements *!
    white-space: nowrap;         !* Empêche le retour à la ligne *!
    overflow: hidden;
    text-overflow: ellipsis;
}*/

/*CALLENDRIER 2e VERSION*/

/* Fusionner les bordures du tableau et supprimer l'espacement */
.fc .fc-scrollgrid table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

/* Appliquer des bordures vertes sur toutes les cellules du calendrier */
.fc .fc-scrollgrid-section td,
.fc .fc-scrollgrid-section th {
    border: 1px solid #455764 !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* Désactiver d'éventuelles bordures par défaut sur le cadre des cellules */
.fc .fc-daygrid-day-frame {
    border: none !important;
}

.fc .fc-scrollgrid {
    border: none !important;
}

.fc-theme-standard .fc-popover {
    background-color: #303030 !important;
    border-radius: 10px!important;
    border: none!important;
}


.fc-day-today {
    background-color: #374151 !important;
}


.fc-highlight {
    background-color: #374151 !important;
}

.fc-button {
    background-color: #374151 !important;
    border-color: #374151 !important;
    color: #fff !important;
}

/* Couleur lors du survol */
.fc-button:hover {
    background-color: #0056b3 !important;
    border-color: #0056b3 !important;
    color: #fff !important;
}

.fc-button:active,
.fc-button:focus {
    background-color: #0056b3 !important;
    border-color: #0056b3 !important;
    color: #fff !important;
}




/*INPUT*/

input:-webkit-autofill {
    background-color: #1a202c !important; /* Fond foncé */
    color: white !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #1a202c; /* Fond foncé */
    border: 2px solid #4a5568; /* Bordure gris foncé */
    border-radius: 4px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #4a5568; /* Fond gris foncé quand coché */
    border-color: #ffffff; /* Bordure blanche */
    position: relative;
}

/* Ajout d'une coche blanche */
input[type="checkbox"]:checked::after {
    content: "✓";
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.custom-footer {
    z-index: 0 !important;
}
